version: "3.7"
services:
  app:
    build:
      args:
        user: sammy1
        uid: 1001
      context: ./
      dockerfile: Dockerfile
    image: travellist
    container_name: HarinamVideoDept
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - harinamVideoDeptNetwork

  postgres:
    image: postgres:latest
    environment:
      - "POSTGRES_USER=uswe"
      - "POSTGRES_PASSWORD=password"
      - "POSTGRES_DB=HarinamVideoDeptBase"
    ports:
      - 5432:5432
    volumes:
        - ./postgres-data:/var/lib/postgresql/data
    networks:
      - harinamVideoDeptNetwork

  postgresTest:
    image: postgres:latest
    environment:
        - "POSTGRES_USER=uswe"
        - "POSTGRES_PASSWORD=password"
        - "POSTGRES_DB=HarinamVideoDeptBaseTest"
    ports:
        - 5433:5432
    volumes:
        - ./postgres-data-test:/var/lib/postgresql/data
    networks:
        - harinamVideoDeptNetwork

  nginx:
    image: nginx:alpine
    container_name: HarinamVideoDeptNginx
    restart: unless-stopped
    ports:
      - 8124:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d/
    networks:
      - harinamVideoDeptNetwork


networks:
  harinamVideoDeptNetwork:
    driver: bridge

